# source exam PDFs (copyrighted school materials, 137 MB) stay local
.flezi-emt/
.pytest_cache/
__pycache__/
chuo_past/
kawasaki_past/
extensions/*.secret.local
functions/.env
functions/venv/
kyoritsu_past/
node_modules/
pipeline/in/
pipeline/out/*
!pipeline/out/exams.json
!pipeline/out/segments/
!pipeline/out/answers/
shinagawa_past/
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
extensions/*.env.*
